.reports-container {
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  gap: 60px; 
=======
  gap: 60px;
>>>>>>> ace2cd8 (финал 1)
  padding: 60px 20px;
  background-color: #e6f2fd;
  min-height: 100vh;
}

.report-card {
<<<<<<< HEAD
  width: 380px; 
  height: 460px; 
=======
  width: 380px;
  height: 460px;
>>>>>>> ace2cd8 (финал 1)
  background-color: white;
  border: 1px solid #6c8cab;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.report-card-footer {
  padding: 20px;
  background-color: #cfe3f4;
  text-align: center;
  border-top: 1px solid #6c8cab;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-weight: 600;
  font-size: 15px;
  color: #344b68;
}

.report-block {
  width: 400px;
  height: 480px;
  background-color: white;
  border: 1px solid #6c8cab;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.report-content {
  flex-grow: 1;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.report-footer {
  padding: 20px;
  background-color: #cfe3f4;
  text-align: center;
  border-top: 1px solid #6c8cab;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-weight: 600;
  font-size: 15px;
  color: #344b68;
}
<<<<<<< HEAD
=======

.main-content {
  padding: 0px;
}
>>>>>>> ace2cd8 (финал 1)
