.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  height: 56px;
  box-sizing: border-box;
  background-color: #C4D9EB;
  font-family: 'Mulish', sans-serif;
}

.top-nav {
  display: flex;
  gap: 2px;
}

.top-nav-wrapper {
  display: flex;
  align-items: center;
  position: relative;
<<<<<<< HEAD
  margin-left: auto;
=======
  margin-left: -100px;
  gap: 110px;
>>>>>>> 043711b (финал)
}

.project-name {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 40px;
  flex-shrink: 0;
<<<<<<< HEAD
  max-width: 300px;
=======
  width: 300px;
>>>>>>> 043711b (финал)
  overflow: hidden;
  user-select: none;
}

.project-name-text,
.project-name-input {
  font-size: 18px;
  font-weight: 900;
  color: #2b3b4e;
  text-transform: uppercase;
<<<<<<< HEAD
  font-family: inherit;
  line-height: 1;
=======
  font-family: inherit;  
>>>>>>> 043711b (финал)
  padding: 0;
  margin: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
<<<<<<< HEAD
=======
  -webkit-spellcheck: false;

  text-decoration: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
>>>>>>> 043711b (финал)
}

.project-name-input {
  background: transparent;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.project-name-input:focus,
.project-name-input:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.custom-filter-btn {
  font-family: 'Mulish', sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 16px;
  background-color: #C4D9EB;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 13px;
  height: 36px;
  cursor: pointer;
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #C4D9EB;
  border: 2px solid #4A6392;
  border-radius: 8px;
  padding: 6px 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #2b3b4e;
  cursor: pointer;
  height: 42px;
  margin: 0px 0px 0px 0p; /* ← аккуратный отступ от группы */
}


.filter-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.project-logo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.project-logo .bar {
  width: 33px;
  height: 6px;
  background-color: #3d5a80;
  border-radius: 3px;
}

.nav-group {
  display: flex;
  width: 446px;
  height: 41px;
  background-color: #C4D9EB;
  border: 2px solid #4A6392;
  border-radius: 5px;
  overflow: hidden;
<<<<<<< HEAD
  margin: 0px 660px 0px 0px;
=======
  margin: 0px 0px 0px 0px;
>>>>>>> 043711b (финал)
}

.nav-btn {
  flex: 1;
  background-color: #C4D9EB;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: #2b3b4e;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: transform 0.1s ease;
  border: none;
  border-left: 1px solid #4A6392;
  font-family: 'Mulish', sans-serif;
}

.nav-btn img.nav-icon {
  width: 20px;
  height: 20px;
}

.nav-icon_icon-boards {
  width: 20px;
  height: 26px;
}

.nav-icon_icon-list {
  width: 24px;
  height: 20px;
}

.nav-icon_icon-reports {
  width: 22px;
  height: 22px;
}

.nav-icon_icon-add {
  width: 27px;
  height: 27px;
}

.nav-btn:not(:last-child) {
  border-right: 1px solid #4A6392;
}

.nav-btn:hover {
  background-color: #C4D9EB;
}

.nav-btn:not(.active):active {
  transform: scale(0.97);
}

.nav-btn.active {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
=======
>>>>>>> 043711b (финал)
  font-weight: bold;
  transform: translateY(-1px);
}

.nav-btn:focus {
  outline: none;
  box-shadow: none;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: #a4b8cc;
}

.filter-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.filter-logo .line {
  background-color: #3d5a80;
  height: 4px;
  border-radius: 2px;
}

.filter-logo .short {
  width: 12px;
}

.filter-logo .medium {
  width: 18px;
}

.filter-logo .long {
  width: 24px;
}

.profile-icon {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-icon img {
  width: 32px;
  height: 32px;
}

.icon-small {
  width: 30px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}

.grid-icon {
  display: grid;
  grid-template-columns: repeat(2, 9px);
  grid-template-rows: repeat(2, 9px);
  gap: 4px;
}

.grid-icon .square {
  width: 9px;
  height: 9px;
  background-color: #3d5a80;
  border-radius: 2px;
}

.list-icon {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.list-icon .line {
  width: 20px;
  height: 4px;
  background-color: #3d5a80;
  border-radius: 2px;
}

.chart-icon {
  display: flex;
  align-items: flex-end;
  gap: 3px;
}

.chart-icon .bar {
  width: 3px;
  background-color: #3d5a80;
  border-radius: 2px;
}

.chart-icon .bar.short {
  height: 6px;
}

.chart-icon .bar.medium {
  height: 10px;
}

.chart-icon .bar.tall {
  height: 14px;
}

.plus-icon {
  font-size: 16px;
  color: #3d5a80;
  line-height: 1;
}

.profile-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: #cce0f5;
  padding: 16px;
  border-radius: 12px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
  border: 1px solid #4A6392;
}

.profile-menu-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.profile-menu-name {
  font-weight: 700;
  font-size: 18px;
  color: #2b3b4e;
}

.profile-menu-username {
  font-size: 14px;
  color: #4a6392;
  margin-bottom: 16px;
}

.profile-menu-btn {
  background-color: transparent;
  border: 1px solid #4a6392;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 1000;
  cursor: pointer;
  width: 100%;
  color: #2b3b4e;
  text-transform: uppercase;
  transition: transform 0.1s ease;
  margin-bottom: 10px;
}

.profile-menu-btn:active {
  transform: scale(0.97);
}

.profile-menu-exit {
  background-color: transparent;
  border: 1px solid #4a6392;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 1000;
  cursor: pointer;
  width: 100%;
  color: #2b3b4e;
  text-transform: uppercase;
  transition: transform 0.1s ease;
}

.profile-menu-exit:active {
  transform: scale(0.97);
}

.profile-menu-treker {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 900;
  color: #2b3b4e;
  text-align: center;
}

.coming-soon-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 62, 80, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.coming-soon-content {
  background-color: #f4f9fd;
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
  color: #2b3b4e;
  font-family: 'Mulish', sans-serif;
  width: 350px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.topnav-add-wrapper {
  position: relative;
  display: inline-block;
}

.topnav-dropdown {
  position: absolute;
  background-color: #C4D9EB;
  border: 2px solid #4A6392;
  top: 100%;
  left: 0;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 170px;
  padding: 4px 0;
  z-index: 2000;
}

.topnav-dropdown button {
<<<<<<< HEAD
  background: none;
  border: none;
  color: #2b3b4e;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.topnav-dropdown button:hover {
  background-color: #b5cadf;
=======
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Mulish', sans-serif;
  color: #2b3b4e;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: background 0.2s ease;
}

.topnav-dropdown button img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.topnav-dropdown button:hover {
  background-color: #b8cde5;
>>>>>>> 043711b (финал)
}

.topnav-dropdown img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.nav-btn.add-main {
  background-color: #C4D9EB;
<<<<<<< HEAD
  border: none;
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
  color: #2b3b4e;
  padding: 6px 12px;
=======
  font-size: 14px;
  font-weight: 600;
  color: #2b3b4e;
>>>>>>> 043711b (финал)
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.2s ease;
  outline: none;
  box-shadow: none;
<<<<<<< HEAD
=======
  font-family: 'Mulish', sans-serif;
>>>>>>> 043711b (финал)
}

.topnav-dropdown .nav-btn {
  width: 100%;
  text-align: left;
  padding: 6px 12px;
  font-size: 13px;
  background-color: white;
  border: none;
  font-weight: 600;
}
<<<<<<< HEAD
=======

.filter-wrapper {
  position: relative;
  margin-left: 12px; /* отступ от кнопок */
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #C4D9EB;
  border: 2px solid #4A6392;
  border-radius: 8px;
  padding: 6px 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #2b3b4e;
  cursor: pointer;
  height: 42px;
  transition: background-color 0.2s ease;
  margin-top: -1px;
}

.filter-btn.open {
  background-color: white;
}

.topnav-dropdown {
  position: absolute;
  background-color: #C4D9EB;
  border: 2px solid #4A6392;
  top: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 170px;
  padding: 4px 0;
  z-index: 2000;
  margin: 0px 0px 0px 960px;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 4px;
  font-size: 15px;
  font-weight: 600;
  color: #2b3b4e;
  cursor: default;
}

.filter-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-option-btn {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 8px 12px;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color:#2b3b4e;
  cursor: pointer;
  text-align: left;
  transition: background 0.2s ease;
}

.filter-option-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.filter-option-btn.last {
  border-bottom: 0px solid #4A6392;
}

.filter-options li {
  display: flex;
  align-items: center;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.invite-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 0%;
  transition: transform 0.2s;
  color: #2b3b4e;
}
>>>>>>> 043711b (финал)
